<!-- Blog Categories Well -->
<div class="well">
    <h4>About</h4>
    <div class="row">
        <div class="col-lg-12">
            <a href="https://github.com/chenyu-zheng/BlogApp" target="_blank">Source Code</a>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <img class="img-responsive" src="~/Images/qr-blog-app.png"/>
        </div>
    </div>
</div>
