@model IEnumerable<BlogApp.Models.Post>

@{
                /**/

                ViewBag.Title = "Posts";
                ViewBag.Heading = "Post List";
                ViewBag.SubHeading = "Built with ASP.NET MVC 5";
}

<div class="row">

    <!-- Blog Entries Column -->
    <div class="col-lg-8 col-lg-offset-2">

        <!-- Create Button -->
        @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
        {
            <a class="btn btn-primary" href=@Url.Action("Create", "Posts")>
                Create New&ensp;<i class="fas fa-plus"></i>
            </a>
            <hr>
        }


        <!-- Blog Posts -->
        <ul class="post-list">
            @foreach (var item in Model.OrderByDescending(x => x.Created))
            {
                <li class="post-list-item">
                    <h2>
                        <a href=@Url.Action("DetailsBySlug", "Posts", new { slug = item.Slug })>
                            @Html.DisplayFor(modelItem => item.Title)
                        </a>
                    </h2>

                    <p class="text-muted">
                        <span class="glyphicon glyphicon-time"></span>
                        @if (item.Updated.HasValue)
                        {
                            <span> Updated on </span>
                            @item.Updated.Value.ToString("dd MMM yyyy")<span>&emsp;</span>
                        }
                        <span> Posted on </span>
                        @item.Created.ToString("dd MMM yyyy")
                    </p>

                    @if (item.MediaUrl != null)
                    {
                        <p>
                            <img class="img-responsive" src=@item.MediaUrl alt="">
                        </p>
                    }

                    <!-- Buttons -->
                    <ul class="list-unstyled list-inline list-btn">
                        <li>
                            <a class="btn btn-primary" href=@Url.Action("DetailsBySlug", "Posts", new { slug = item.Slug })>
                                Read More&ensp;<i class="fas fa-chevron-right"></i>
                            </a>
                        </li>
                        @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                        {
                            <li>
                                <a class="btn btn-default" href=@Url.Action("Edit", "Posts", new { Id = item.Id })>
                                    Edit&ensp;<i class="fas fa-edit"></i>
                                </a>
                            </li>
                            <li>
                                <a class="btn btn-default" href=@Url.Action("Delete", "Posts", new { Id = item.Id })>
                                    Delete&ensp;<i class="fas fa-trash-alt"></i>
                                </a>
                            </li>
                        }
                    </ul>

                    <hr>
                </li>
            }
        </ul>

        <!-- Pager -->
        <ul class="pager">
            <li class="previous">
                <a href="#">&larr; Older</a>
            </li>
            <li class="next">
                <a href="#">Newer &rarr;</a>
            </li>
        </ul>

    </div>

</div>