@{
    ViewBag.Title = "Forgot Password Confirmation";
    ViewBag.Heading = "Reset Password";
    ViewBag.SubHeading = "Built with ASP.NET MVC 5";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Please check your email to reset your password.
    </p>
</div>
	
