@{
    ViewBag.Title = "Contact";
    ViewBag.Heading = "Contact";
    ViewBag.SubHeading = "Built with ASP.NET MVC 5";
}

<h4>your message has been sent successfully!</h4>

<hr />

<a class="btn btn-default" href=@Url.Action("Index", "Home")>
    Back to Home&ensp;<i class="fas fa-home"></i>
</a>

