@model IEnumerable<BlogApp.ViewModels.PostListItem>

@{
    ViewBag.Title = "Blog App";
    ViewBag.Heading = "Blog Home";
    ViewBag.SubHeading = "Built with ASP.NET MVC 5";
}

<!-- Recent Posts -->
@if (Model.Count() > 0)
{
    <h1>Recent Updates</h1>
    <hr />
    @Html.Partial("../Posts/_PostListPartial", Model)
}


<style>
    table th, table td {
        padding: 15px;
    }
</style>


<h1 class="page-header">
    Test Accounts
</h1>
<table>
    <tr>
        <th>
            Role
        </th>
        <th>
            User Name
        </th>
        <th>
            Password
        </th>
    </tr>
    <tr>
        <td>
            Admin
        </td>
        <td>
            admin@myblogapp.com
        </td>
        <td>
            blogadmin
        </td>
    </tr>
    <tr>
        <td>
            Moderator
        </td>
        <td>
            mod@myblogapp.com
        </td>
        <td>
            blogmod
        </td>
    </tr>
</table>

