/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column  */
.dl-horizontal dt {
  white-space: normal;
}

.post-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.blog-abstract {

}

.float-right{
    float: right;
}

@media only screen and (min-width: 768px) {
  .navbar-right {
    margin-left: 15px;
  }
}

/*
    Override the template styles
*/
footer .copyright {
  margin: 0;
}

@media only screen and (min-width: 768px) {
  header.intro-header .page-heading,
  header.intro-header .post-heading,
  header.intro-header .site-heading {
    padding: 120px 0;
  }
}

@media only screen and (min-width: 1170px) {
  header.intro-header .page-heading,
  header.intro-header .post-heading,
  header.intro-header .site-heading {
    padding: 150px 0;
  }
}
