@model BlogApp.ViewModels.PostComments

@{
    ViewBag.Title = "All Comments";
    ViewBag.Heading = "Comments";
    ViewBag.SubHeading = "Built with ASP.NET MVC 5";
}

<!-- Blog Post -->
<!-- Title -->
<h2>@Html.DisplayFor(model => model.Title)</h2>
<h4 class="text-muted">Comments:</h4>

<hr />

<!-- Comment List -->
@Html.Partial("_CommentListPartial", Model.Comments)

<hr />

<!-- Comments Form -->
@{ Html.RenderAction("CreateBySlug", "Comments", new { postSlug = Model.Slug }); }

<a class="btn btn-default" href=@Url.Action("DetailsBySlug", "Posts", new { slug = Model.Slug })>
    Back to Post&ensp;<i class="fas fa-chevron-left"></i>
</a>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
